.AboutUsBanner {
  background: url("../Images/xxx.jpg");
  background: url("../Images/NEWBG.png");
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* filter: brightness(50%); */
}
.AboutUsBanner > h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: "Jost" !important;
  font-weight: 700;


}
.AboutUsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 150px 90px;
  font-family: "Jost" !important;
}
.AboutUsContainerHeading {
  width: 30%;
}
.AboutUsContainerContent {
  width: 30%;
}
.AboutUsContainerHeading > h1 {
  color: #1f1f1f;
  font-size: 40px;
  font-weight: 900;
  line-height: 45px;
  margin-top: 20px;
}
.AboutUsContainerHeading > p {
  color: #565658;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.8px;
}
.AboutUsContainerContent > p {
  color: #565658;
  font-size: 18px;
  font-weight: 500;
}
.AboutUsPortfolioSection{
    background: url("../Images/banner-01.jpg");
    height: 50vh ;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
  font-family: "Jost" !important;
  padding: 0px 150px;
  color: #fff ;

}
.AboutUsPortfolioSectionDetails{
    width: 40%;
}
.AboutUsPortfolioSectionDetails>h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 15px;
}
.AboutUsPortfolioSectionDetails>p{
    font-size: 20px;
    color: #ffffff;
}
@media(max-width:1200px){
  .AboutUsContainerHeading > p {
    font-size: 16px;
  }
  .AboutUsContainerHeading > h1 {
    font-size: 30px;
  }
  .AboutUsContainerContent > p {
    font-size: 15px;
  }
  .AboutUsContainer {
    padding: 120px 40px;
  }
}
@media(max-width:1024px){
  .AboutUsContainerHeading > p {
    font-size: 14px;
  }
  .AboutUsContainerHeading > h1 {
    font-size: 25px;
  }
  .AboutUsContainerContent > p {
    font-size: 13px;
  }
  .AboutUsContainer {
    padding: 100px 30px;
  }
  .AboutUsPortfolioSectionDetails>h1 {
    font-size: 40px;  
  }
  .AboutUsPortfolioSection {
    padding: 0px 110px;
    background-size: contain;

  }
  .AboutUsPortfolioSectionDetails>p {
    font-size: 16px;
  }
}
@media(max-width:768px){
  .AboutUsBanner > h1 {
    font-size: 50px;
  }
  .AboutUsContainer {
    flex-direction: column;
    text-align: center;
  }
  .AboutUsContainerHeading {
    width: 100%;
  }
  .AboutUsContainerContent {
    width: 100%;
  }
  .AboutUsContainer {
    padding: 100px;
  }
  .AboutUsPortfolioSection {
    align-items: center;
    display: flex;
    justify-content: end;
    padding: 0px 30px;
    height: 35vh;
    /* width: 100% !important; */
  }
  .AboutUsPortfolioSectionDetails {
    width: 50%;
  }
  .AboutUsPortfolioSectionDetails>p {
    font-size: 11px;
  }
  .AboutUsPortfolioSectionDetails>h1 {
    font-size:25px;  
  }

}
@media(max-width:560px){
  .AboutUsPortfolioSectionDetails>p {
    font-size: 11px;
    line-height: 13px;

  }
  .AboutUsPortfolioSectionDetails>h1 {
    font-size:25px;  
  }
  .AboutUsPortfolioSection {
    padding: 0px 15px;
    height: 25vh;
    
  }
}
@media(max-width:425px){
  .AboutUsContainer {
  padding: 100px 40px;
  }
  .AboutUsPortfolioSection {
    padding: 0px 2px;
    height: 20vh;
    
  }
  .AboutUsBanner{
    background-size: contain;
    justify-content: start;
    padding-left: 50px;
   
  }
  .AboutUsPortfolioSectionDetails>p {
    font-size: 10px;
    line-height: 10px;
  }
  .AboutUsPortfolioSectionDetails>h1 {
    font-size:20px;  
  }
  
}