@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");


.FooterSection {
  background-color: #1f1f1f;
  width: 100%;
  padding: 100px 0px 50px 0px;
  margin-top: 100px;
  font-family: "Jost", sans-serif !important;
  text-transform: capitalize;

}
.FooterTopDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
  font-weight: 400;
}
.FooterTopDetails > h1 {
  font-size: 50px;
  margin: 0px 50px;
  cursor: pointer;
  text-align: center;
}
.FooterPagesLinks {
  font-size: 15px;
  cursor: pointer;
}
.Line {
  width: 100px;
  height: 2px;
  background-color: #fff;
  border-radius: 50px;
  margin: 50px auto 50px auto;
}
.SocialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SocialLinks > p {
  color: #fff;
  font-size: 18px;
  font-family: "Jost", sans-serif !important;

}
.Links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0px;
}
.LinkIconBox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  color: #fff;
  font-size: 18px;
}
.LinkIconBox:hover {
  background-color: #fff;
  transition: 0.4s;
  color: #1f1f1f;
}
.FooterMobileDetails{
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

}
.MobileFooter{
  display: none;

}
.FooterMobilePagesLinks{
  width: 150px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
@media(max-width:1024px){
  .FooterTopDetails > h1{
    font-size: 30px;
    margin: 0px 30px;
  }
  .SocialLinks > p{
    font-size: 15px;
  }
  .FooterPagesLinks{
    font-size: 13px;
  }
}
@media(max-width:768px){
  .FooterPagesLinks{
    display: none;
  }
  .MobileFooter{
    display: block;
  
  }
  .FooterTopDetails > h1{
    font-size: 28px;
    text-align: center;
  }
}