@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap"); */
.HomeSection {
  padding: 50px;
}
.HomeSection > h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400 !important;
  margin-bottom: 50px;
  font-family: "Jost", sans-serif !important;
  text-transform: uppercase;
}
.HomeSection > h1 > span {
  font-size: 65px;
  /* color: #241644; */
  color: #d42147;
  font-weight: 400;
  font-family: "Jost", sans-serif !important;
}
.HomeSectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  transition: 0.4s;
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}
.ImageBox {
  transition: 0.4s;
  max-width: 288px;
  height: 288px;
  overflow: hidden;
}

.ImageBox:hover {
  scale: 0.9;
  rotate: 5deg;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .HomeSection > h1 {
    font-size: 35px;
  }
}

.e-card {
  margin: 0px auto 50px auto;
  background: #e8e8e8;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 740px;
  height: 130px;
  border-radius: 16px;
  overflow: hidden;
  font-family: "Jost", sans-serif !important;
  color: #141414;
}

.wave {
  position: absolute;
  width: 1040px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
  background: linear-gradient(
    111.1deg,
    rgb(0, 40, 70) -4.8%,
    rgb(255, 115, 115) 82.7%,
    rgb(255, 175, 123) 97.2%
  );
  background: radial-gradient(
    circle at 10% 20%,
    rgb(90, 92, 106) 0%,
    rgb(32, 45, 58) 81.3%
  );
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background: linear-gradient(
    89.5deg,
    rgb(4, 29, 55) -0.1%,
    rgb(2, 67, 135) 25.1%,
    rgb(28, 133, 243) 49.6%,
    rgb(115, 181, 250) 74.5%,
    rgb(214, 239, 253) 99.3%
  );
}

.infotop {
  font-family: "Jost", sans-serif !important;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;

  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  width: max-content;
  display: flex;
  align-items: center;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Jost", sans-serif !important;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
@media(max-width:1024px){
  .e-card{
    margin-top: 80px;
    width: 640px;
  }
  .wave{
    width: 900px;
  }
}
@media(max-width:768px){
  .e-card{
    margin-top: 50px;
    width: 500px;
  }
  .wave{
    width: 650px;
  }
  .infotop{
    font-size: 17px;
  }
}
@media(max-width:600px){
  .e-card{
    margin-top: 35px;
    width: 400px;
    height: 150px;

  }
  .wave{
    width: 500px;
    height: 500px;

  }
  .infotop{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(max-width:500px){
  .e-card{
    margin-top: 0px;
    width: 280px;
    height: 150px;

  }
  .wave{
    width: 380px;
    height: 400px;
  }
  .infotop{
    font-size: 14px;
  }
  .cta{
    padding: 10px 14px;
    
  }
  .cta span {font-size: 15px;}

}