@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");

.NavbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-family: "Jost", sans-serif !important;
/* background:#141414; */
  font-weight: 400;
  /* color: #D42147; */
  color: #000000;
  padding: 30px 50px;
  /* padding: 15px 50px; */
  /* margin-bottom: 50px; */
  
}
.NavbarContainer > h1 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content:center ;
  align-items: center;
}
.NavbarItems {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  gap: 35px;
  font-weight: 600;
  font-size: 14px;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  border-radius: 50px;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.DropDown {
  background: transparent;
  width: 200px;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  top: 100%;
  display: none;
  /* height: 0px;
  opacity: 0;
  transition: all .5s ease; */
}

.DropDownContainer {
  margin-top: 10px;
  background:#1F1F1F;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
}
.DropDown > .DropDownContainer > ul > li {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  width: fit-content;
}
.DropDown >.DropDownContainer > ul > li :hover {
  color: #cecece;
}
.PortfolioDropDown:hover > .DropDown {
  transition: 0.3s;
  /* opacity: 1; */
  display: block;
  /* opacity: 1;
  transform: translateY(0);
  height: 200px; */
}
.PortfolioDropDown {
  position: relative;
}
.MobileNavbarIcon {
  display: none;
}
.BarIcon {
  color: #000;
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  border: 1px solid;
  transition: 0.4s;
}
.BarIcon:hover {
  background: #000;
  border: 1px solid;

  color: #fff;
  transition: 0.4s;
}
@media (max-width: 1024px) {
  .NavbarItems {
    display: none;
  }
  .MobileNavbarIcon {
    display: block;
  }
}
@media (max-width: 768px) {
  .BarIcon {
    height: 40px;
    width: 40px;
    font-size: 18px;
  }
  .NavbarContainer > h1 {
    font-size: 22px;
  }
  .NavbarContainer {
    padding: 30px 20px;
  }
}

.MobileNavbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 50px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  font-family: "Jost", sans-serif !important;

  overflow: hidden;
  transition: all 400ms;
  height: 0px;
}
@media (min-width: 1024px) {
  .MobileNavbar {
    display: none !important;
  }
}
.MobileNavbarDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.MobileNavbarDetails > p {
  width: max-content;
}
.MobileDropDownContainer > ul > li {
  line-height: 25px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
  width: max-content;
  font-family: "Jost", sans-serif !important;

}
.MobileDropDownContainer > ul > li:hover {
  color: #949494;
  transition: 0.3s !important;
}
.MobileDropDown {
  overflow: hidden;
  transition: all 400ms;
}

#panel {
  display: none;
}
.logo{
  width: 100px;
  height: 100px;
  /* background: #000; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}